- if student_signed_in?
	- content_for :javascripts do
		= javascript_include_tag "problems/problems", "facebook"
- content_for :title do
	= @problem.title
.left-box
	.xob
		.course_info.panel-body
			.row.c_title
				.course_code= @course.code
				.course_name
					= link_to @course.name, @course, style: "color: grey"
			.row
				.course_sem
					Semester #{@course.semester}
					Class #{@course.year}
			.row.c_title
				.course_code
					= link_to @topic.title, {controller: 'topics', action: 'show', id: @topic.id},  style: "color: gray"
					|
				.course_code
					= link_to @track.title, {controller: 'tracks',
						action: 'show', id: @track.id},  style: "color: gray"
				- if student_signed_in?
					%img.fb-button{onclick: "openBackWindow('/facebook', 'Facebook')", src: "/assets/facebooksharebutton.png", style: "float: right; width: 32px; height: 32px;", title: "Ask Facebook"}/
				.problem_title
					%label= @problem.title
		%br
		%br
		.problem
			.problem_desc
				= @problem.description
				%br/
				%br/
				= render partial: "solutions/test_cases_time_limit"
				%div{align: 'center', style: 'cursor:pointer;', onclick: 'toggle_problem_page();'} Code

= content_for :problem_body do
	%section.xoz.problem-body.hide
		- if student_signed_in?
			- track_progess = TrackProgression.get_progress(current_student,
				@problem.track.topic)
			- if track_progess >= @problem.track.difficulty
				= render partial: "problem_body"