

<div>
	<!-- <div style="margin-left:5px; margin-top:5px; float:left;"> -->
	<div class="">
		
		<!-- <div style="float:left; margin-right:10px; margin-top:3px;"> -->
			<img src="/assets/lang_w.png" class="solution-editor"></img>
		<!-- </div> -->

		<!-- <div style="float:left"> -->
			<select id='mode' onchange="changeMode()" class="selectpicker" data-style="a7"
				data-width="auto">
				<option value="java">Java</option>
				<option value="python">Python</option>
			</select>
		<!-- </div> -->

		<!-- <div style="float:left; margin-right:10px; margin-left:10px; margin-top:3px;"> -->
			<img src="/assets/theme_w.png" class="solution-editor"></img>
		<!-- </div> -->

		<select id='theme' onchange="changeTheme()" class="selectpicker" data-style="a7"
			data-width="auto">
			<option value="twilight">twilight</option>
			<option value="eclipse">eclipse</option>
			<option value="xcode">xcode</option>
			<option value="chaos">chaos</option>
			<option value="chrome">chrome</option>
			<option value="clouds">clouds</option>
			<option value="tomorrow_night_blue">night blue</option>
			<option value="tomorrow_night_eighties">tomorrow night eighties</option>
			<option value="github">github</option>
			<option value="dreamweaver">dreamweaver</option>
		</select> 

		<!-- <div style="float:right; margin-top:3px; margin-left:5px;"> -->
			<img src="/assets/increase_font_w.png" onClick="increaseFont()" class="solution-editor"
				style="cursor:pointer;" title="Increase Font"></img>
		
			<img src="/assets/decrease_font_w.png" onClick="decreaseFont()" class="solution-editor"
				style="cursor:pointer;" title="Decrease Font"></img>
		<!-- </div> -->
	</div>
	<%= hidden_field :problem, :default_code, value: @snippet %>
	<%= hidden_field :problem, :student_code, value: @st_snippet %>
	<!-- <br><br><br> -->
	<div class="row">
		<div class='col-sm-2 cell-hide'>
			<%= render partial: "memory" %>
		</div>
		<div class='col-sm-12'>
			<!-- Add editor -->
			<!-- <div style="margin-top:-10px;"> -->
			<pre id="editor"></pre>
			<!-- </div> -->
			<div class="col-sm-6">
				<div class="row"style="color:rgb(248,248,248); margin-bottom:1px;">
					<b>Input:</b>
				</div>
				<div class="row" style="margin-right:2.5px;">
					<%= render partial: "solutions/input_box" %>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row"style="color:rgb(248,248,248); margin-bottom:1px;">
					<b>Console:</b>
				</div>
				<div class="row" style="margin-right:2.5px;">
					<%= render partial: "solutions/console" %>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-sm-6" style="color:rgb(248,248,248); margin-bottom:1px;">
					<b>Input:</b>
				</div>
				<div class="col-sm-6" style="color:rgb(248,248,248);">Console:</div>
			</div> -->
			<!-- <div class="row">
				<div class="col-sm-6">
					
				</div>
				<div class="col-sm-6" >
					
				</div>
			</div>
 -->		</div>
	</div>

</div>