<% def renders() %>
	<%= render "layouts/header" %>
	<%= render "layouts/body" %>
	<%= render "layouts/footer" %>
<% end %>
<!--
# [View Layout - Story 1.2]
# General layout
# Author: Ahmed Elassuty
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			<%= yield(:title).empty? ? 'Valorous.io' : yield(:title) %>
		</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<% unless signed_in? %>
			<%= javascript_include_tag "sign_in" %>
		<% end %>
		<%= yield :javascripts %>
		<link rel="stylesheet" href="/assets/alertify-themes/alertify.default.css" id="toggleCSS" />
		<%= yield :stylesheets %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width"/>
	</head>
	<body class="gradually-change">
		<% if student_signed_in? && params[:controller].include?("problem") &&
			params[:action] == "show" %>
			<%= yield :problem_body %>
			<div id="page_id" class="page_class panel-collapse collapse in">
				<%= renders() %>
			</div>
		<% else %>
			<%= renders() %>
		<% end %>
	</body>
</html>